<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>microblog - {{ title }}</title>
    {% else %}
        <title>microblog</title>
    {% endif %}
</head>
<body>

<div class="header">
    <h1>Microblog</h1>
    <ul class="display: table;">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('blog.index') }}">Index</a></li>
        <li><a href="{{ url_for('blog.subscriptions') }}">Subscriptions</a></li>
        <li><a href="{{ url_for('blog.profile', username=current_user.username) }}">Profile</a></li>
        <li><a href="{{ url_for('blog.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.login') }}">Login</a></li>
        {% endif %}
    </ul>
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>
</html>